/* styles.css */
.landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 150px); /* Adjust height based on the navbar */
  }     
  
  .text-section {
    flex: 1;
    padding-left: 50px;
  }
  
  .right-image {        
    max-width: 450px;
    height: auto; 
    margin-bottom: 8px; 
  }
  
  .button-group {
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the div spans the full width */    
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }
  